@import '../../../App.css';

.RowHeaders {
	display: flex;
	height: 6%;
	background-color: #D8D8D8;
}

.RowHeaders .DaysWrapper {
	display: flex;
}


.RowHeaders .DaysWrapper .DayWrapper {
	display: flex;
	flex-direction: column;
	
}






