.Resources {
	display: flex;
	flex-direction: column;
}

.Resources > div:nth-child(odd){
background: rgb(242,242,242);
background: linear-gradient(0deg, rgba(242,242,242,1) 0%, rgba(237,237,237,1) 100%);
}

.Resources > div:nth-child(even){
background: rgb(227,228,229);
background: linear-gradient(0deg, rgba(227,228,229,1) 0%, rgba(223,223,223,1) 100%);
}