@import '../../../App.css';

.Date {
	height: 100%;
	width: 40vw;
	text-align: center;

}

.Date p {
  background-color: transparent;
  font-size: 0.7em;

}

.Weekday {
	height: var(--resource-row-height);
	border-right: 1px var(--dark-grey) solid;
	grid-row-start: row1-start;
	grid-row-end: row1-end;
	z-index: 1
  }
  
