@import '../../../App.css';

.Date {
	width: 40vw;
	text-align: center;
}

.Date p {
  background-color: transparent;
  font-size: 0.7em;
  margin: 0;
  margin-top: 13px;
}

@media (min-width: 992px) {
	.Date p {
	  margin-top: 10px;
	}
  }

.Weekday {
	height: 14vh;
	border-right: 1px var(--dark-grey) solid;
	grid-row-start: row1-start;
	grid-row-end: row1-end;
  }
  
