
.WeeklyGrid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: [row1-start] 0% [row1-end] 100%;
	grid-template-columns: 
	[Mon0900] 2.5%
	[Mon1000] 2.5%
	[Mon1100] 2.5%
	[Mon1200] 2.5%
	[Mon1300] 2.5%
	[Mon1400] 2.5%
	[Mon1500] 2.5%
	[Mon1600] 2.5%
	[Mon1700] 0%
	[Tues0900] 2.5%
	[Tues1000] 2.5%
	[Tues1100] 2.5%
	[Tues1200] 2.5%
	[Tues1300] 2.5%
	[Tues1400] 2.5%
	[Tues1500] 2.5%
	[Tues1600] 2.5%
	[Tues1700] 0%
	[Wed0900] 2.5%
	[Wed1000] 2.5%
	[Wed1100] 2.5%
	[Wed1200] 2.5%
	[Wed1300] 2.5%
	[Wed1400] 2.5%
	[Wed1500] 2.5%
	[Wed1600] 2.5%
	[Wed1700] 0%
	[Thurs0900] 2.5%
	[Thurs1000] 2.5%
	[Thurs1100] 2.5%
	[Thurs1200] 2.5%
	[Thurs1300] 2.5%
	[Thurs1400] 2.5%
	[Thurs1500] 2.5%
	[Thurs1600] 2.5%
	[Thurs1700] 0%
	[Fri0900] 2.5%
	[Fri1000] 2.5%
	[Fri1100] 2.5%
	[Fri1200] 2.5%
	[Fri1300] 2.5%
	[Fri1400] 2.5%
	[Fri1500] 2.5%
	[Fri1600] 2.5%
	[Fri1700] 0%;	
}

.WeeklyGrid > div {
	height: 10vh;
}

.Weekday {
	height: var(--resource-row-height);
	border-right: 1px var(--dark-grey) solid;
	grid-row-start: row1-start;
	grid-row-end: row1-end;
	z-index: 1
  }
  
  .Monday {
	grid-column-start: Mon0900;
	grid-column-end: Mon1700;
	border-left: 1px var(--dark-grey) solid;
  }
  
  .Tuesday {
	grid-column-start: Tues0900;
	grid-column-end: Tues1700;
  }
  
  .Wednesday {
	grid-column-start: Wed0900;
	grid-column-end: Wed1700;
  }
  
  .Thursday {
	grid-column-start: Thurs0900;
	grid-column-end: Thurs1700;
  }
  
  .Friday {
	grid-column-start: Fri0900;
	grid-column-end: Fri1700;
  }