.AddTask {
	padding: 3%;
	padding-bottom: 0;
	height: 100%;
}

h2 {
	text-align: left;
	margin-top: 0;
}

p {
	font-size: 0.7em;
	text-align: center;
}

form {
	height: 100%;
}
.DefaultMessage {
	font-size: 0.6em;
}

.FormWrapper {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.FormRow {
	display: flex;
	justify-content: space-between;
	padding: 3% 0%;
}

.FormRowTextArea {
	display: flex;
	flex-direction: column;
	padding: 3% 0% 2% 0%;
}

.FormRow > label, .FormRowTextArea > label {
	text-align: left;
	font-size: 0.8em;
	width: 50%;
}

.FormRowTextArea > textarea {
	margin-top: 1.8%;
}

.FormRow > select {
	width: 50%;
}


.FormRow > input, .FormRowTextArea > textarea, .FormRow > select{
	background-color: #D8D8D8;
	border: solid 1px #979797;
	border-radius: 4px;
	font-size: 0.8em;
	padding: 0.5%;
}

.Timeslots {
	display: flex;
	justify-content: flex-end;
  }
  
.Timeslots > input {
	width: 35%;
	text-align: center;
	background-color: transparent;
	border: 0;
	font-weight: 600;
  }
.Timeslots > input:focus {
	outline: none;
  }

.CancelBtn {
	font-size: 0.7em;
	margin-bottom: 1%;
	text-align: center;
}

@media (min-width: 600px) {
	form {
	  display: flex;
	  flex-direction: column;
	}
	.AddTask {
	  width: 100%;
	  padding: 0;
	}
	form > .TopOnDesktop {
	  display: flex;
	}
	.FormRow {
	  flex-direction: column;
	  width: 100%;
	  padding-top: 1.5%;
	}
	.TopOnDesktop > .LeftOnDesktop {
	  width: 50%;
	  margin-right: 2.5%;
	}
	.TopOnDesktop > .RightOnDesktop {
	  width: 50%;
	  margin-left: 2.5%;
	}
	.FormRow > input,
	.FormRow > textarea,
	.FormRow > select {
	  width: 85%;
	  margin-top: 2%;
	  margin-bottom: 0;
	  padding: 1.5%;
	}
	.FormRow > label {
	  width: 100%;
	  margin-top: 0;
	}
	p {
	  text-align: left;
	}
	button {
	  padding: 2% 5%;
	  margin-top: 4%;
	  margin-bottom: 1%;
	}
	.CancelBtn {
	  margin-bottom: 0;
	}
  }

