.ResourceName {
	padding: 5% 1%;
	background-color: transparent;
	width: 30vw;
	box-sizing: border-box;
	height: 100%;
	text-align: left;

}

@media (min-width: 992px) {

	.ResourceName {
		width: 15vw;
	}
	
  }

.ResourceName h4 {
	margin-left: 12%;
	margin-bottom: 0;

}

.ResourceName p {
	font-size: 0.65em;
	margin: 3% 12%;
	text-align: left;

}
