@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.App {
  text-align: center;
}

:root {
  --dark-grey: #4A4A4A;
  --body-font: open-sans, sans-serif;
  --left-calendar-axis-width: 10%;
  --left-column-width: 20vw;

}

body {
font-family: var(--body-font);
letter-spacing: 0.02em;
font-weight: 200;
}